.root {
    /* Dark Theme Variables */
    -fx-base-color: #1E1E2F;
    -fx-primary-color: #14B8A6;
    -fx-accent-color: #8B5CF6;
    -fx-text-color: #F3F4F6;
    -fx-card-bg: #2D2D44;
    -my-border-color: #3F3F5B;
    -fx-hover-color: #7C4DFF;


    -fx-font-family: "Segoe UI", sans-serif;
    -fx-background-color: -fx-base-color;
}

.text-field{
    -fx-background-color: -fx-card-bg;
    -fx-text-fill: -fx-text-color;
    -fx-border-color: -my-border-color;
    -fx-border-radius: 5;
    -fx-padding: 10 20 10 20;
}
.button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 5;
    -fx-cursor: hand;
}
.label{
    -fx-text-fill: -fx-text-color;

    -fx-padding: 10 0 0 0;
}
.card_container{
    -fx-background-color: -fx-card-bg;
    -fx-border-color: -my-border-color;
    -fx-border-radius: 5px;
}



#addContact .button{
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: -fx-text-color;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}



.context-menu {
    -fx-background-color: -fx-card-bg;
    -fx-border-color: -my-border-color;
    -fx-border-radius: 5px;
}

.context-menu .menu-item {
    -fx-background-color: -fx-card-bg;
}

.context-menu .menu-item:hover {
    -fx-background-color: -fx-hover-color;
}